<footer >
  <link rel="webmention" href="https://webmention.io/dbdo.website/webmention" />
  <h1><a href="/"> Dbdo </a>
  </h1> 
  <footer_wrapper>
    <div class="left">
  <ul> 
    <li> 
   <h2> <a href="/post/about.html"> 关于 </a></h2>
    </li>
    <li>
    <h2>  <a href="/post/links.html"> 链接 </a></h2>
    </li>
    </ul>
    </div>
    <div class="right">
      <ul>   
      <li> <h2> <a href="/rss.xml"> RSS </a></h2> 
    </li>
    <li> <h2> <a href="https://mas.to/@cxwh"> Mastodon </a>  </h2>
    </li>
    </ul>
  </div> 
    <a href="mailto:dbdo2wjfb@outlook.jp">
   <p style="font-family: 'Comic Sans MS', 'Comic Sans', sans-serif"
             margin-top: 2rem;
             font-size: var(--font-size);"> 
    dbdow1jfb@outlook.jp  </p>
      </a>
    </footer_wrapper>
  </footer>
