<!DOCTYPE html>

<html lang="zh">  
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
     <title> dbdo </title>
    <link rel="stylesheet" href="style.css">
    <link href="https://mas.to/@cxwh" rel="me">
    <link href="https://github.com/dbdowjfb" rel="me">
    <link href="mailto:dbdowjfb@outlook.jp" rel="me">
</head>

<body>


 <nav>
    <!-- <img src="https://i.giphy.com/media/UQ1EI1ML2ABQdbebup/giphy.webp" class="cat"> -->
<a href="/">主页</a>
    
    
      <a href="/post/about.html"> 关于</a>
      <a href="/post/links.html">链接</a>
   
  </nav>

   
    <div class="article-section"><ul>
    {% for post in posts %}
    
    <li>
        <span>
            <i> 
            {{ post.ctime }} 

            </i>
        </span> 
    <a href="{{ post.html_path }}"> {{ post.title }} </a>  </li>
    {% endfor %}
  </ul> 
</div>
{% include "footer.html" %} 
</body>
</html>
