<!DOCTYPE html>

<html lang="zh">  
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
     <title> dbdo </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>


 <nav>

<a href="/">主页</a>
    
    
      <a href="/post/about.html"> 关于</a>
      <a href="/post/links.html">链接</a>
    
  </nav>

   
    <div class="article-section"><ul>
    {% for post in posts %}
    
    <li>
        <span>
            <i> 
            {{ post.ctime }} 

            </i>
        </span> 
    <a href="{{ post.html_path }}"> {{ post.title }} </a>  </li>
    {% endfor %}
  </ul> 
</div>

</body>
</html>
