<!DOCTYPE html>

<html lang="">  
{% include "header.html" %}
<body>

  
 <nav role="banner">
    
<a href="">Generic Freeness</a>
    
    
      <a href="/post/about.html"> </a>
      <a href="/post/links.html"></a>
      <button id="dark-mode" >🌙</button>
  </nav>

  
    <div class="article-section">
      <ul >
    {% for post in posts %}
    
    <li>
 <a href="{{ post.html_path }}" >

        <span>
            <i > 
            {{ post.ctime }} 

            </i>
        </span> 
    {{ post.title }}  
  </a> 
</li> 
    {% endfor %}
  </ul> 
</div>
{% include "footer.html" %} 
<script src="/script.js"></script>
</body>
</html>
