<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style> 
    html {
        font-family: Helvetica, sans-serif;
        margin: auto;
        max-width: 45em;
        font-size: 1.2em;
    }
    </style>
    <title> Index page </title>
</head>
<body>
    <h1>Articles</h1>
    <ul>
    {% for post in posts %}
    
        <li><span>
            <i> {{ post.ctime }} 

            </i>
    </span> 
    <a href="{{ post.html_path }}"> {{ post.title }} </a>  </li>
    {% endfor %}
    </ul>
</body>
</html>

