<!DOCTYPE html>
<html lang="zh">  
    {% include "header.html" %}

<body>
    <h1 class="heading" >{{ heading }}</h1>
    <button id="dark-mode" >🌙</button>
<div class="blog" aria-label="article">
    
   
    <p>{{ paragraphs }}</p>
</div>
<!-- 
<script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
<hyvor-talk-comments website-id="9374" page-id=""></hyvor-talk-comments>
{% include "footer.html" %} 
 -->
 
{% include "footer.html" %}
<script src="/script.js"></script>
</body>

</html>
