body {
  font-family: 'Noto Sans SC',sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1em;
}

.article-section, .blog {
  max-width: 38em;
  margin: 0 auto;
  min-height: 100vh;/*prevent inconsistent nav bar position*/
}


.article-section a {
  display: inline-block;
  width: 100%;
}


li {
  margin-bottom: 0.5em;
}


:root {
  /* colors */
  --classic-gray: #d9e1e8;
  --old-plain-gray-link-color: #595e5e;
  --vibrant-light-pink: #ECE1D5;
  --warmer-gray: #797979;
  --lighter-black : #333 ;
  --warmer-white: #F6F6F6;
  --pink : rgb(173, 26, 114);
  ;
  --bright-pink: #F4DFA16E;
  /* this is actually certain yellow */

}

nav {
  text-align: center;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  
}

nav a {
  display: inline-block;
  margin-right: 20px;
}
:root {
  --background-color : white;
  --text-color : #000;
  --nav-bar-color: var(--classic-gray); 
  --article-section-gap-top: 20pt ;
  --article-link-box-hover : var(--classic-gray);
  --link-hover-color: #234fd3;
  --link-color: #000;

}


@media (prefers-color-scheme: dark) {

  :root { 
    --background-color: var(--lighter-black);
    --text-color: rgb(239, 218, 185); 
    --link-color: #aeec71;
    /* --link-color: #a5d296; */
    --link-hover-color: var(--bright-pink);
  }
  }

  


/* Add your additional styles here if needed */





a {
  
  color : var(--link-color); 
}




a:hover {
  background-color: var(--link-hover-color); 
  color: var(--background-color);
}


  p {
     line-height: 1.6;
     
 }


 ?
